@charset "URF-8";

/*
    em HTML é id= em CSS é #
    em HTML é class= em CSS é .
*/

body{
    background-color: #F4C1CF;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #B951F5;
}

h1#principal{
    text-align: center;
    background-color: #7759EB;
    color: white;
}

h2{
    color: #DB7FD1;
}

.basico{
    color: #3c805e;
}

.intermediario{
    color: #80793c;
}

.avancado{
    color: #803c3c;
}

.destaque{
    background-color: #c5c56070;
}