@charset "UTF-8";

/* Typical Device Breakpoints
-------------------------------
Pequenas telas: até 599px
Celular: de 600px até 767px
Tablet: de 768px até 991px
Desktop: de 992px até 1199px
Grandes telas: acima de 1199px
*/

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}