@charset "UTF-8";

/* Todas as demais medias */

/* Typical Device Breakpoints
-------------------------------
Pequenas telas: até 599px
Celular: de 600px até 767px
Tablet: de 768px até 991px
Desktop: de 992px até 1199px
Grandes telas: acima de 1199px
*/

/* IMPRESSAO */
@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../../imagens/back-print.jpg); /* desnecessário */
    }

    main {
        width: 90vw;
        border: 2px solid black;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    footer {
        font-size: 0.9em;
        padding: 30px;
    }

    footer::after {
        content: 'Essa impressão foi feita através do site www.junimruindadepura.com.br';
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: block; }
    img#pc { display: none; }
    img#tv { display: none; }
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../../imagens/back-tablet.jpg);
    }

    main {
        width: 75vw;
    }

    img#phone { display: none; }
    img#tablet { display: block; }
    img#print { display: none; }
    img#pc { display: none; }
    img#tv { display: none; }
}

/* DESKTOP */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../../imagens/back-pc.jpg);
    }

    main {
        width: 70vw;
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#pc { display: block; }
    img#tv { display: none; }
}

/* GRANDES TELAS */
@media screen and (min-width: 1200px) {
    body {
        background-image: url(../../imagens/back-tv.jpg);
    }

    main {
        width: 65vw;
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#pc { display: none; }
    img#tv { display: block; }
}